# sbt specific
.cache/
.history/
.lib/
dist/
target/
lib_managed/
project/boot/
project/project/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.classpath
.project
.settings
.cache

# metals
.bloop
.bsp
.metals
metals.sbt

# Intellij IDEA Specific
.idea/
*.iws
*.ipr
*.iml

# VSCode
.vscode

# sonar-scanner
.scannerwork/

# other
*.log
/bin/
*.orig
